/*Global*/

body {
  background-color: #000;
  font-family: sans-serif helvetica;
}

* {box-sizing:border-box}

/*navbar*/

#signbutton{
  background: red;
  color: white;
}

#buttondiv{
  position: absolute;
  right: 0;
  margin: 30px;
}

.logo{
  background-image: url(../images/logo1.png);
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 200px;
  height: 100px;
}

/*landing page description*/

#largeImage{
  background: black;
  width: 100%;
  height: 100vh;
}

#largeImage h1{
  font-size: 30px;
  font-weight: bold;
}

.description-box{
  color: white;
  padding-top: 100px;
}

.button1{
  background: red;
  color: white;
  font-size: 17px;
}

.button1:hover{
  opacity:0.8;
}

/*movies and programmes section*/

#videoSection{
  border-bottom: 5px grey solid;
  width: 100%;
  height: 100%;
  border-top: 5px grey solid;
  padding-top: 100px;
  padding-bottom: 100px;
}

#videoSection h2{
  color: white;
  text-align: center;
  font-size: 25px;
  margin-top: 20px;
}

/*window sections*/

#tv{
  width: 100%;
  height: 110vh;
  border-bottom: 5px grey solid;
  padding-top: 100px;
}

#tvbox{

}

#tvbox1{
  margin-top: 10px;
}

#tvimage{
  background-image: url(../images/logo1.png);
  background-position:center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
}

#tvimage2{
  background-image: url(../images/logo1.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 10px;
}

#tvimage img{
  width: 100%;
}

#tv h1 {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

#tv h4,h1 {
  color: white;
  margin-bottom: 15px;
}

.button2{
  border: 1px white solid;
  color: white;
  background: black;
  font-size: 17px;
}

#watch{
  border-top: 5px grey solid;
  padding-top: 100px;
  width: 100%;
  height: 110vh;
}

#watch h4,h1 {
  color: white;
  margin-bottom: 15px;
}

#watch h1{
  font-size: 30px;
  font-weight: bold;
}

#download{
  width: 100%;
  height: 110vh;
  padding-top: 100px;
}

#download h4 {
  color: white;
  margin-bottom: 15px;
}

#download h1{
  font-size: 30px;
  margin-bottom: 15px;
  font-weight: bold;
}

/*slideshow movies*/
/* Slideshow container */
.slideshow-container {
  max-width: 1200px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -42px;
  padding: 16px;
  color: white;
  background: #000;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #fff;
}

/* Caption text */
.text {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  padding: 8px 12px;
  position: relative;
  width: 100%;
  text-align: center;
  text-decoration: underline red;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes fade {
  from {opacity: 1}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 1}
  to {opacity: 1}
}

/*FAQ*/

#faq{
  border-bottom: 5px grey solid;
  border-top: 5px grey solid;
  width: 100%;
  height: 180vh;
  padding-top: 100px;
}

#faq1_desc, #faq2_desc, #faq3_desc, #faq4_desc, #faq5_desc, #faq6_desc{
  margin-right: 20px;
}

.faq{
  margin-bottom: 100px;
}

#faq h1{
  font-size: 30px;
  font-weight: bold;
}

.questions{
  margin-bottom: 30px;
}


dl.faq button {
  margin: 0;
  padding: 0;
  margin-top: 1em;
  background-color: transparent;
  padding-left: 0.125em;
  background: #303030;
  color: white;
  font-size: 25px;
}

dl dd {
  margin: 0;
  padding: 0;
  margin-left: 1.5em;
}

dl.faq .desc {
  margin: 0;
  padding: 0.5em;
  font-size: 110%;
  display: none;
  background-color: #303030;
  color: #fff;
  border-top: 1px black solid;
}

dl.faq button:hover,
dl.faq button:focus {
  font-size: bold;
}

dl.faq button:focus {
  font-size: bold;
}

dl.faq button:hover {
  font-size: bold;
}

dl.faq button:active {
  background-color: #303030;
}

dl.faq button[aria-expanded="false"]::before {
  content: url('../images/right-arrow-brown.png');
  padding-right: 0.35em;
}

dl.faq button[aria-expanded="true"]::before {
  content: url('../images/down-arrow-brown.png');
  padding-right: 0.35em;
}

/*footer*/

footer{
  color: #fff;
}

#links a{
  text-decoration: none;
  color: #fff;
}

#links a:hover{
  font-weight: bold;
}

/*media queries, responsivness */


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #tv, #download, #watch, #videoSection, #faq{
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #videoSection img{
    width: 100%;
  }
  #faq1_desc, #faq2_desc, #faq3_desc, #faq4_desc, #faq5_desc, #faq6_desc{
    font-size: 20px;
    margin-right: 20px;
  }
  #videoSection{
    height: 100%;
  }
  #tv, #download, #watch{
    height: 110%;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  #tvbox{
    text-align: left;
    margin-top: 100px;
  }
  #tvbox1{
    text-align: left;
    margin-top: 100px;
  }
  #faq{
    padding-left: 130px;
    padding-right: 130px;
  }
}

@media only screen and (min-width: 1400px) {
  #faq{
    height: 100%;
  }
  #tvimage2{
    background-image: url(../images/logo1.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  #tvimage2 img{
    width: 120%;
  }
  #tv h1, #download h1, #watch h1, #faq h1, #largeImage h1{
    font-size: 40px;
  }
}



